.black-box {
  width: 200px;
  height: 200px;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px;
  padding: 5px;

  span {
    color: pink;
  }
}
.apskritimai {
  border-radius: 50%;
  border: solid 1px;
  width: 200px;
  height: 200px;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px;
  padding: 5px;
  position: absolute;
}

.dezute {
  width: 300px;
  height: 300px;
  background: blue;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px;
  padding: 5px;
  button {
    width: 100px;
    height: 60px;
  }
}

.apskritimas {
  width: 300px;
  height: 300px;
  background: red;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px;
  padding: 5px;
  border-radius: 50%;
  button {
    width: 100px;
    height: 60px;
  }
}

.mygtukas {
  width: 200px;
  height: 120px;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px;
  padding: 5px;
  color: blue;
}

.container {
  // display: grid;
  // grid-template-columns: 1fr 1fr;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.counter {
  position: fixed;
  height: 80px;
  width: 300px;
  border: solid 3px green;
  margin-top: 20px;
}

.aps1 {
  background: orange;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px;
  padding: 5px;
  border-radius: 50%;
  font-size: 60px;
  font-style: bold;
  text-transform: capitalize;
}

.container2 {
  display: grid;
  grid-template-columns: 5fr 5fr 1fr 1fr 1fr;
  width: 100vw;
  height: 100vh;
}

.mygtukas2 {
  width: 150px;
  height: 80px;
  background: green;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px;
  padding: 5px;
  color: blue;
  font-size: 30px;
  text-transform: uppercase;
}

.container3 {
  display: grid;
  width: 100vw;
  height: 100vh;
}

.window {
  background-color: burlywood;
}

.vline {
  width: 300px;
  height: 5px;
  background-color: black;
}
hline {
  width: 5px;
  height: 300px;
  background-color: black;
}

.square {
  width: 150px;
  height: 150px;
  background-color: black;
}

.circle {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px;
  padding: 5px;
  border-radius: 50%;
}
