.black-box {
  width: 200px;
  height: 200px;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px;
  padding: 5px;

  span {
    color: pink;
  }
}
.apskritimai {
  border-radius: 50%;
  border: solid 1px;
  width: 200px;
  width: 200px;
  height: 200px;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px;
  padding: 5px;
}
